<div class="navbar">
    <div class="logo">
        <img src="assets/imag/group.png" alt="" width="80px">
    </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Join us</a></li>
                <li><a href="">Faq's</a></li>
                <li><a href="">Continuous a Education</a></li>
                <li><a href="">Send a Referal</a></li>
            </ul>
        </nav>
        <div class="lowbar">
            <a href="">Signin</a>
            <button>Get Started Now</button>
        </div>
        
</div>