<div fxLayout='row wrap' fxLayoutAlign='space-evenly center' class="main">
    <div fxFlex='20'>
        <img src="../../../assets/imag/group0.png" style="margin-left: 35px;">
    </div>
    <div fxFlex='80'>
        <div fxLayout = 'row wrap' fxLayoutAlign='space-evenly center'>
            <div>
                <h2>Buyers and Sellers</h2>
                <span>First time Home buyers</span><br>
                <span>Luxury</span><br>
                <span>Condos</span><br>
                <span>Mobiles</span><br>
                <span>Reloaction</span>
        
            </div>
            <div>
                <h2>Buyers and Sellers</h2>
                <span>First time Home buyers</span><br>
                <span>Luxury</span><br>
                <span>Condos</span><br>
                <span>Mobiles</span><br>
                <span>Reloaction</span>
            </div>
            <div style="margin-bottom: 10px;">
                <h2>Buyers and Sellers</h2>
                <span>First time Home buyers</span><br>
                <span>Luxury</span><br>
                <span>Condos</span><br>
                <span>Mobiles</span>
            </div>
            <div style="margin-bottom: 50px;">
                <h2>Contact US</h2>
                <span>+917093131541</span>
                <br>
                <span>sivaji@gmail.com</span>
                
            </div>
        </div>
    </div>    
</div>  