<div class="contact">
    <h1>Contact us</h1>
    <p>Feel free to talk to us,we are happy to talk to you today</p>
    <div fxLayout='row wrap' fxLayoutAlign='center center' class="details">
        <span><b>+91 7093131541</b></span>
        <span><b>sivajimarripudi98@gmail.com</b></span>
    </div>
    <div class="form">
        <div fxLayout='row wrap' fxLayoutAlign='center center' class="form1">
            <label style="margin-right: 5px;font-size: 20px;color: #0e595d;">Firstname  </label>
            <input id='inp' type="text">
            <label style="margin-right: 5px;font-size: 20px;color: #0e595d;">Lastname  </label> 
            <input id='inp' type="text">
        </div>
        <div fxLayout='row wrap' fxLayoutAlign='center center' class="form1">
            <label style="margin-right: 5px;font-size: 20px;color: #0e595d;">Email  </label>
            <input id='inp' type="text">
            <label style="margin-right: 5px;font-size: 20px;color: #0e595d;">Mobile  </label>
            <input id='inp' type="text">
        </div>
        <div fxLayoutAlign='center center'>
            <label style="margin-right: 5px;font-size: 20px;color: #0e595d;">Comment</label>
            <input id='inp' type="text" style="width: 450px;height: 50px;">
        </div>
        <div fxLayoutAlign='center center'>
            <input type="button" value="SUBMIT" class="btn">
        </div>
    </div>    
</div>