<div class="main">
    <h1>What does a Referral Associate Do?</h1>
    <div fxLayout='row-wrap' fxLayoutAlign='space-evenly center'>
        <div>
            <img src="../../../assets/imag/charity.png">
            <p>Maintains a current real estate license</p>
        </div>
        <div>
            <img src="../../../assets/imag/library.png">
            <p>Completes all required continuouing Education <br>
                requirement to keep license current
            </p>
        </div>
        <div>
            <img src="../../../assets/imag/test.png">
            <p>Renew license as scheduled according to <br> local requirements</p>
        </div>
        <div>
            <img src="../../../assets/imag/charity.png">
            <p>Submits referral clients through the RRR portal</p>
        </div>
    </div>
</div>

<!--  referral associste not do   -->

<div class="main1">
    <h1>What does a Referral Associate Not Do?</h1>
    <div fxLayout='row wrap' fxLayoutAlign="space-between">
        <div fxflex='10'>
            <img src="../../../assets/imag/oval-3.png" style="margin: 0px 0px 0px 0px;">
        </div>
        <div fxFlex='30'>
            <div class="card" fxLayout='column' fxLayoutAlign="center">
                <span>01</span>
                <span> You have connections who want to purchase property in distant markets</span>
            </div>
        </div>
        <div fxFlex='30'>
            <div class="card" fxLayout='column' fxLayoutAlign="center">
                <!-- <h3>02</h3> -->
                <span>02</span>
                <span> You have connections who want to purchase property in distant markets;</span>
            </div>
        </div>
        <div fxFlex='30'>
            <div class="card" fxLayout='column' fxLayoutAlign="center">
                <!-- <h3>03</h3> -->
                <span>03</span>
                <span> You have connections who want to purchase property in distant markets</span>
            </div>
        </div>
    </div>
    <div fxLayout='row wrap' fxLayoutAlign='space-between'>
        <div fxFlex='30'>
            <div class="card1" fxLayout='column' fxLayoutAlign='center'>
                <span>04</span>
                <span> You have connections who want to purchase property in distant markets</span>
            </div>
        </div>
        <div fxFlex='30'>
            <div class="card1" fxLayout='column' fxLayoutAlign='center'>
                <span>05</span>
                <span> You have connections who want to purchase property in distant markets</span>
            </div>
        </div>
        <div fxFlex='30'>
            <div class="card1" fxLayout='column' fxLayoutAlign='center'>
                <span>06</span>
                <span> You have connections who want to purchase property in distant markets</span>
            </div>
        </div>
        <div fxFlex='10'>
            <img src="../../../assets/imag/bg.png" class="last-img">
        </div>
    </div>
</div>
